/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Jacquelyn Kirby
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */


/*normalize.css file*/
@import url('normalize.css'); 
/*Sansita google font*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/*General Styles*/
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }
   #page-header{
       background-color: #0e89d5;
       display:flex;

   }
   body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }
  .tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
  }
  nav ul li { 
    display: inline-block; 
    list-style: none; 
  }
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  footer{
    margin-bottom: 2em;
   }
   #site-brand {
    font-size: 5em;
    font-weight: 600;
    text-align: center;

  }
  #imlogo{
    max-width: 200px;
  height: 200px;
  background-color: blue;
  }

  /*
#page-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
 #page-nav ul li{
     min-height: 40px;
 }



  #page-nav a{
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 1em;
  }
  
  #wind .northMark{
      font-size smaller;
      margin:-.5em 0 0 0;
      text-align: center;
  }
  #wind {
    position: realtive;
  }
  
  #wind-speed{
      widthL100%;
      text-align: center;
      --
  body>div {
      width: 100vw;
  }
  #page-header img{
      width: 10%;
      height: 50%;
      margin-right:.5em;
  }
  */